<div class="container-fluid">
   <div class="row"><br>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <md-input-container class="md-block" flex-gt-sm>
            <label>Name</label>
            <input ng-model="data.name">
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">  
        <md-input-container class="md-block" flex-gt-sm>
            <label>Roll Number</label>
            <input ng-model="data.roll_number">
        </md-input-container>
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">  
        <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input ng-model="data.email">
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">  
        <md-input-container class="md-block" flex-gt-sm>
            <label>Position</label>
            <input ng-model="data.position">
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">  
        <md-input-container class="md-block" flex-gt-sm>
          <label>Choose the Department</label>
           <md-select  name="department" ng-model="data.department" required>
           <md-option ng-repeat="department in departments" value="{{department.name}}">
                {{department.name}}
           </md-option>
           </md-select>
        </md-input-container> 
     </div>  
    
    <center>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
              <div vc-recaptcha key="'6LcLMh0UAAAAAJKnIdIRNYrAdkaziWzkTrwQNV_b'" on-success="proceed(response)"></div><br>
          </div>
        </div>
      </div>
    </center>   

     <div style="text-align:center;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <md-button ng-show="verify" class="md-raised md-warn" type="file" ngf-select="uploadFiles($file)" accept=".pdf">Upload Application</md-button>
       <md-button ng-show="status" class="md-raised md-warn" disabled="">Uploading({{progress}})</md-button><!--To show progress of pdf file upload-->
       <md-button ng-show="validating" class="md-raised md-warn" disabled="">Validating data ...</md-button><!--To show validation of pdf file upload-->
     </div>

   </div><br>
</div>   
