<div layout="row" layout-align="left left" style="font-size:1.5em">
  <a ui-sref="login" style="color: white"><md-button class="md-primary md-raised">Back</md-button></a>
</div>
<md-tabs md-stretch-tabs="always" md-selected="bills.tabIndex">
  <md-tab ui-sref="bills.payment">
    <md-tab-label>
      <span>
        Payments Portal
      </span>
    </md-tab-label>
  </md-tab>
  <md-tab ui-sref="bills.ppm">
    <md-tab-label>
      <span>
        Prize-Money Portal
      </span>
    </md-tab-label>
  </md-tab>
  <md-tab ui-sref="bills.reimbursement">
    <md-tab-label>
      <span>
        Reimbursement Portal
      </span>
    </md-tab-label>
  </md-tab>
</md-tabs>

<md-content ui-view=""></md-content>