<div class="container-fluid">

 <div style="position: absolute;right: 2vw;">
  <a class="md-button md-accent md-raised" ui-sref="users" style="color: white;text-decoration: none">All users</a>

  <a class="md-button md-warn md-raised" ui-sref="bills" style="color: white;text-decoration: none">Bill Uploads</a>
 </div> 
    <div class="clearance row">
      <div class="col-sm-3 sass">
        <button class="button hvr-bounce-in" ui-sref="hospi"><span><a>
          Hospi Portal
        </a></span></button>
      </div>
      <div class="col-sm-3">
      <button class="button hvr-bounce-in" ui-sref="desk_registrations"><span><a>
        Desk Registrations
      </a></span></button>
      </div>
      <div class="col-sm-3">
      <button class="button hvr-bounce-in" ui-sref="events"><span><a>
        Event Portals
      </a></span></button>
      </div>
      <div class="col-sm-3">
      <button class="button hvr-bounce-in" ui-sref="events_r"><span><a>
        Event Registrations
      </a></span></button>
      </div>
      <div class="col-sm-3">
      <button class="button hvr-bounce-in" ui-sref="spons"><span><a>
        Spons Portal
      </a></span></button>
      </div>
      <div class="col-sm-3">
      <button class="button hvr-bounce-in" ui-sref="outreach"><span><a>
        Outreach
      </a></span></button>
      </div>
      <div class="col-sm-3">
      <button class="button hvr-bounce-in" ui-sref="qms"><span><a>
        QMS
      </a></span></button>
      </div>
      <div class="col-sm-3">
      <button class="button hvr-bounce-in" ui-sref="finance"><span><a>
        Finance Portal
      </a></span></button>
      </div>
      <div class="col-sm-3">
      <button class="button hvr-bounce-in" ui-sref="applications"><span><a>
        Coordinator Applications
      </a></span></button>
      </div>
      <div class="col-sm-3">
      <button class="button hvr-bounce-in" ui-sref="feedback"><span><a>
        Website Feedback
      </a></span></button>
      </div>
      <div class="col-sm-3">
      <button class="button hvr-bounce-in" ui-sref="sales"><span><a>
        Sales Portal 
      </a></span></button>
      </div>
      <div class="col-sm-3">
        <button class="button hvr-bounce-in" ui-sref="opc"><span><a>
          OPC Portal 
        </a></span></button>
        </div>
    </div>
</div>
