<div layout="row" layout-align="left left" style="font-size:1.5em">
  <a ui-sref="main" style="color: white"><md-button class="md-primary md-raised">Back</md-button></a>
</div>
<md-tabs md-stretch-tabs="always" md-selected="outreach.tabIndex">
  <md-tab ui-sref="outreach.ambassadors">
    <md-tab-label>
      <span>
        Ambassadors
      </span>
    </md-tab-label>
  </md-tab>
  <md-tab ui-sref="outreach.milan">
    <md-tab-label>
      <span>
        Milan
      </span>
    </md-tab-label>
  </md-tab>
  <md-tab ui-sref="outreach.tasks">
    <md-tab-label>
      <span>
        Tasks
      </span>
    </md-tab-label>
  </md-tab>
  <md-tab ui-sref="outreach.submissions">
    <md-tab-label>
      <span>
        Submissions
      </span>
    </md-tab-label>
  </md-tab>
</md-tabs>

<md-content style="background-color: white;" ui-view=""></md-content>